footer {
  overflow: hidden;
  background-color: #FCF9F8;
  padding: 2%;
  margin-top: 3%
}

.footer-text {
  color: #FA9A49;
  text-align: start;
}

.footer-cont {
  width: 90%;
  /* margin: auto 25%; */
}

.about-cont.col {
  padding-right: 10%;
  padding-left: 15%;
}

.footer-icons {
  width: 50px;
  height: 50px;
}