#menu {
  background: #D8E2DC;
  position: absolute;
  z-index: 1;
  bottom: 110px;
  right: 10px;
  padding: 10px;
  border-radius: 3px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}

#menu a {
  background-color: #F9EFE6;
  font-size: 11px;
  color: #4B4141;
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}
   
#menu a:last-child {
  border: none;
}
   
#menu a:hover {
  background-color: #f8f8f8;
}
   
#menu a.active {
  background-color: #FA9A49;
  color: #FCF9F8;
}
   
#menu a.active:hover {
  background: #FA9A49;
}

#menu-hr{
  margin-top: 0px;
  margin-bottom: 5px;
}

// .distance-container {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   z-index: 1;
// }
  
// .distance-container > * {
//   background-color: rgba(0, 0, 0, 0.5);
//   color: #fff;
//   font-size: 11px;
//   line-height: 18px;
//   display: block;
//   margin: 0;
//   padding: 5px 10px;
//   border-radius: 3px;
// }

.center{
  margin: auto;
  margin-top: 200px;
}

.mapboxgl-ctrl-bottom-left{
  bottom: 90px;
}

.mapbox-form-label {
  background: #FA9A49;
  background-color: #FA9A49
}

.map-container{
  height: 80vh;

}


