#menu{
  display: flex;
  gap: 30px;
  justify-content: center;
  background-color: #FCF9F8;
  border-top: .25px solid #4B4141;
  padding-top: 5px;
}

#dog-parks {
  text-decoration: none;
  color: #FCF9F8;
  border: 1px solid #FA9A49;
  background-color: #FA9A49;
  padding: 5px;
  border-radius: 25px;
  margin-bottom: 5px;
}
#shops {
  text-decoration: none;
  color: #FCF9F8;
  border: 1px solid #FA9A49;
  background-color: #FA9A49;
  padding: 5px;
  border-radius: 25px;
  margin-bottom: 5px;
}
#vets {
  text-decoration: none;
  color: #FCF9F8;
  border: 1px solid #FA9A49;
  background-color: #FA9A49;
  padding: 5px;
  border-radius: 25px;
  margin-bottom: 5px;
}
#service {
  text-decoration: none;
  color: #FCF9F8;
  border: 1px solid #FA9A49;
  background-color: #FA9A49;
  padding: 5px;
  border-radius: 25px;
  margin-bottom: 5px;
}
