#menu{
  display: flex;
  gap: 30px;
  justify-content: center;
}

#dog-parks {
  text-decoration: none;
  color: black;
}
#shops {
  text-decoration: none;
  color: black;
}
#vets {
  text-decoration: none;
  color: black;
}
#service {
  text-decoration: none;
  color: black;
}