
/* Buttons */
.btn.edit-btn {
  background-color: #D8E2DC;
  border: 0;
  border-radius: 18px;
  color: #767070;
  font-weight: 600;
  font-size: 18px;
  width: 80px;
}

.btn.edit-btn:hover {
  background-color: #393f3b;
  color: #D8E2DC;
}

/* User info */
.user-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid white;
  object-fit: cover;
}

.gender {
  width: 25px;
}

.profile.container {
  margin-top: 2%;
}

p.location-text {
  color: #9b9b9b;
  font-weight: 600;
}

/* Section for dog profiles */
.bottom-profile {
  width: 80%;
  margin-top: 3%;
  background-color: #FCF9F8;
  padding: 2%;
  border-radius: 3%;
}

#profile-tabs {
  background-color: #393f3b;
}

.tab-content {
  padding: 5%;
}

.dog-cont {
  margin-bottom: 5%;

}

.dog-img {
  width: 240px;
  height: 230px;
  object-fit: cover;
  box-shadow: 2px 2px 5px #888888;
}

.dog-details {
  text-align: left;
}

.dog-name {
  color: #67584B;
}

.dog-field {
  font-size: 18px;
  font-weight: 600;
  color: #FA9A49;
}

.dog-text {
  font-size: 16px;
  font-weight: 400;
  color: #534848;
  margin-left: 8px;
}

.btn.add-btn {
  background-color: #FA9A49;
  border: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-weight: 600;
}

.btn.add-btn:hover {
  background-color: #f3f7f5;
  color: #FA9A49;
}

/* Post section */
.btn.write-btn.profile {
  background-color: #FA9A49;
  color: #f5efef;
  border: 0;
  border-radius: 30px;
  width: 170px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
}

.btn.write-btn:hover {
  background-color: #fdfefe;
  color: #FA9A49;
}